body {
    font-family: "Times New Roman", Times, serif;  /* Fuente para todo el texto */
    background-color: #d3feb5;      /* Color de fondo */
}

h1 {
    color: #000000;                     /* Color del texto del título */
    text-align: center;              /* Centra el texto */
    margin-top: 50px;                 /* Espacio superior */
}

p {
    color: #000000;                     /* Color del texto para párrafos */
    line-height: 1.6;                 /* Altura de línea */
    font-size: 16px;                  /* Tamaño de fuente */
    margin: 20px;                     /* Espacio alrededor del párrafo */
}

a {
    color: #ffffff;                  /* Color del enlace */
    text-decoration: none;           /* Elimina subrayado */
}


button {
    background-color: #2b6901;       /* Color de fondo del botón */
    color: #ffffff;                     /* Color del texto del botón */
    border: none;                     /* Elimina bordes */
    padding: 10px 20px;               /* Relleno del botón */
    cursor: pointer;                 /* Cambia el cursor al pasar el ratón */
    border-radius: 8px;
    transition: background-color 0.5s, color 0.5s; /* Añadir transición para el color del texto */
}

button:hover {
    background-color: red; /* Cambia el color de fondo al pasar el ratón */
    color: #2b6901; /* Cambia el color del texto al pasar el ratón */
}
