/* Estilos básicos para la página */

body {
    font-family: "Times New Roman", Times, serif;  /* Fuente para todo el texto */
    background-color: #4a28ea;      /* Color de fondo */
    margin: 0;                       /* Elimina márgenes por defecto */
    padding: 0;                      /* Elimina relleno por defecto */
}

h1 {
    color: #333;                     /* Color del texto del título */
    text-align: center;              /* Centra el texto */
    margin-top: 50px;                 /* Espacio superior */
}

p {
    color: #666;                     /* Color del texto para párrafos */
    line-height: 1.6;                 /* Altura de línea */
    font-size: 16px;                  /* Tamaño de fuente */
    margin: 20px;                     /* Espacio alrededor del párrafo */
}

a {
    color: #FFFFFF;                  /* Color del enlace */
    text-decoration: none;           /* Elimina subrayado */
}


.container {
    max-width: 1200px;                /* Ancho máximo */
    margin: 0 auto;                   /* Centra el contenedor */
    padding: 20px;                    /* Relleno dentro del contenedor */
}

button {
    background-color: #FFFFFF;       /* Color de fondo del botón */
    color: black;                     /* Color del texto del botón */
    border: none;                     /* Elimina bordes */
    padding: 10px 20px;               /* Relleno del botón */
    cursor: pointer;                 /* Cambia el cursor al pasar el ratón */
}

button:hover {
    background-color: ;       /* Color de fondo del botón al pasar el ratón */
}

