/* Estilos básicos para la página */

body {
    font-family: "Times New Roman", Times, serif;  /* Fuente para todo el texto */
    background-color: #e4d1ff;      /* Color de fondo */
}

h1 {
    color: #000000;                     /* Color del texto del título */
    text-align: center;              /* Centra el texto */
    margin-top: 50px;                 /* Espacio superior */
}

p {
    color: #000000;                     /* Color del texto para párrafos */
    line-height: 1.6;                 /* Altura de línea */
    font-size: 16px;                  /* Tamaño de fuente */
    margin: 20px;                     /* Espacio alrededor del párrafo */
}

a {
    color: #ff0000;                  /* Color del enlace */
    text-decoration: none;           /* Elimina subrayado */
}


button {
    background-color: #480169;       /* Color de fondo del botón */
    color: #ff0000;                     /* Color del texto del botón */
    border: none;                     /* Elimina bordes */
    padding: 10px 20px;               /* Relleno del botón */
    cursor: pointer;                 /* Cambia el cursor al pasar el ratón */
}
